/*
* GRID AND NORMALIZE FROM http://getskeleton.com/
*/

@import 'skeleton.css';
@import 'normalize.css';

/* skeleton overrides */
.container {
    max-width:1200px;
}

/* custom */
h1{
    font-size:4rem;
    font-weight:bold;
}
h2 {
    font-size: 3.5rem;
    font-weight:bold;
}
h3 {
    font-size:3rem;
    font-weight:bold;
}
h4 {
    font-size:2.5rem;
    font-weight:bold;
}
h5 {
    font-size:2rem;
    font-weight:bold;
}
img {
    max-width:100%;
}

.mt {
    margin-top:1.5rem;
}
.text-muted {
    color:gray;
}

.header {
    text-align: center;
}
.header .logo {
    position:absolute;
}
.header .header__image {
    max-width:100%;
}
.logo {
    max-width:300px;
}

footer img {
    max-width:150px;
}

.section {
    margin-top:2rem;
}
.teaser {
    background-color: #fff;
    padding:2rem; 
    box-shadow: 1px 1px 1px #ddd;
}


.geodata {
    display:none;
}
.map iframe {
    
}
