{# {% import "src/config.njk" as config %} #}
{% set config = project %}

<p class="text-muted mt">
© {{ config.year }} {{ config.client_name }} 
<a target="_blank" href="/imprint/">Impressum</a> | <a target="_blank" href="/privacypolicy/">Datenschutz</a></p>