{# {% import "src/config.njk" as config %} #}
{% set config = project %}
<div class="header">
    <div class="container">
    <a href="/"><img class="logo" alt="logo" src="../{{ config.logo }}"></a>
    <img class="header__image" alt="header-image" src="{{ config.header_image }}">
    </div>
</div>
