{# {% import "src/config.njk" as config %} #}
{% set config = project %}

<div class="map">
    <div class="geodata">
        <div id="street">{{ config.client_street }}</div>
        <div id="city">{{ config.client_city }}</div>
    </div>
    <div class="container section section_map">
        <div class="row">
            <div class="six columns">
                <h3>{{ config.map_headline }}</h3>
                <p>{{ config.map_text }}</p>
            </div>
            <div class="six columns">
                <iframe id="osm_map" width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=""></iframe>
                {# <small><a href="https://www.openstreetmap.org/?mlat=50.94136&amp;mlon=6.95172#map=19/50.94136/6.95172&amp;layers=H">Größere Karte anzeigen</a></small> #}
            </div>
        </div>
    </div>
</div>