{# {% import "src/config.njk" as config %} #}
{% set config = project %}

{% set teaser_count = config.teasers|length %}
{% set columns = ['one', 'two', 'three', 'four'] %}
{% if teaser_count < 5 %}
    {% set cols = columns[(12 / teaser_count)-1] %}
{% else %}
    {% set cols = 'four' %}
{% endif %}

{% for item in config.teasers %}
    <div class="{{ cols }} columns teaser">
        <h3>{{ item.name }}</h3>
        <p>{{ item.text|safe }}</p>
    </div>
{% endfor %}
