{% import "../config.njk" as config %}

<div class="header">
    <img class="logo" alt="logo" src="{{ config.logo }}">
    <img class="header__image" alt="header-image" src="{{ config.header_image }}">
</div>