/*
* GRID AND NORMALIZE FROM http://getskeleton.com/
*/

@import 'skeleton.css';
@import 'normalize.css';

/* skeleton overrides */
.container {
    max-width:1200px;
}

/* custom */
h1{
    font-size:4rem;
    font-weight:bold;
}
h2 {
    font-size: 3.5rem;
    font-weight:bold;
}
h3 {
    font-size:3rem;
    font-weight:bold;
}
h4 {
    font-size:2.5rem;
    font-weight:bold;
}
h5 {
    font-size:2rem;
    font-weight:bold;
}
img {
    max-width:100%;
}

.mt {
    margin-top:1.5rem;
}
.text-muted {
    color:gray;
}

.header {
    text-align: center;
}
.header .logo {
    margin-top:1.4rem;
    margin-bottom:1.4rem;
    float:left;
}
.header .header__image {
    max-width:100%;
}
.logo {
    max-width:300px;
}

footer img {
    max-width:150px;
}

.section {
    margin-top:2rem;
    margin-bottom:1rem;
}
.teaser {
    background-color: #fff;
    padding:2rem; 
    box-shadow: 1px 1px 1px #ddd;
}


.geodata {
    display:none;
}
.map iframe {
    
}

.cr_form .cr_ipe_checkbox{
    margin-right:1rem;
}
.cr_form .submit_container {
    margin-top:1rem;
}

/* For devices larger than 550px and smaller than 990px */
@media (min-width: 550px) and (max-width: 990px) {
    .one.column,
    .one.columns                    { width: 13.3333333333%; }
    .two.columns                    { width: 30.6666666667%; }
    .three.columns                  { width: 48%; }
    .four.columns                   { width: 48%; }
    .five.columns                   { width: 100%; margin-left: 0; }
    .six.columns                    { width: 100%; margin-left: 0; }
    .seven.columns                  { width: 100%; margin-left: 0; }
    .eight.columns                  { width: 100%; margin-left: 0; }
    .nine.columns                   { width: 100%; margin-left: 0; }
    .ten.columns                    { width: 100%; margin-left: 0; }
    .eleven.columns                 { width: 100%; margin-left: 0; }
    .twelve.columns                 { width: 100%; margin-left: 0; }
    .two.columns:nth-child(3n-999) {
        margin-left:0;
    }
    .two.columns:nth-child(n+4){
        margin-top:1rem;
    }
    .three.columns:nth-child(2n-999),
    .four.columns:nth-child(2n-999) {
        margin-left:0;
    }
    .three.columns:nth-child(n+3),
    .four.columns:nth-child(n+3){
        margin-top:1rem;
    }
}